<div class="cardInfoDisplay">
	<h2 ng-if="cardInfo">{{cardInfo.name}}</h2>
	<ul ng-if="cardInfo" id="cardStats">
		<li ng-if="cardInfo.attack"><label class="listItem">Attack:</label> {{cardInfo.attack}}</li>
		<li ng-if="cardInfo.health"><label class="listItem">Health:</label> {{cardInfo.health}}</li>
		<li><label class="listItem">Cost:</label> {{cardInfo.cost}}</li>
		<li><label class="listItem">Rarity:</label> {{cardInfo.rarity}}</li>
		<li><label class="listItem">Set:</label> {{cardInfo.cardSet}}</li>
		<li><label class="listItem">Artist:</label> {{cardInfo.artist}}</li>
		<li><label class="listItem">Flavor:</label> {{cardInfo.flavor}}</li>
	</ul>
</div>